#mobile{
    display: none;
}
@media (min-width: 2400px){
    .allballs{
        margin-top: 1.5rem;
    }
    .line{
        position: relative;
        margin-top: 10px;
        margin-left: -15px;
    }
}

@media (max-width: 1600px){
    .line{
        position: relative;
        margin-top: 0px;
    }
}

@media (max-width: 800px){
    .allballs{
        margin-top: -1rem;
    }
    .line{
        position: relative;
        margin-top: -35px;
    }
}

@media (max-width: 450px) {
    .allballs{
        margin-left: -2rem;
        margin-top: -2.3rem;
    }
    .Sights{
        margin-right: 0rem;
    }
    .time{
        margin-right: 1rem;
        padding-right: 0;
    }
    div.detail img{
        position: relative;
        margin-top: 1rem;
        padding-left: 1rem;
        width: 85vw;
        height: 55vw;
    } 
    div.detail_text{
        padding-left: 2rem;
        position: relative;
        left: -1.5rem;
    }
    .line{
        position: relative;
        margin-top: -40px;
        margin-left: 0px;
    }
}
@media (max-width: 350px){
    .time{
        position: relative;
        left: -10px;
    }
    .time p{
        position: relative;
        left: -8px;
    }
    .map{
        position: relative;
        left: -25px;
    }
    .map p{
        position: relative;
        left: -8px;
    }
}

/*====================================*/
@font-face{
    font-family: MyCustomFont;
    src: local(Heiti TC), local("微軟正黑體");
}
html, body{
    margin: 0px;
    padding: 0px;
    font-family: MyCustomFont, sans-serif;
    background-image: url('/static/img/back.jpg');
    background-position: center center;
    background-size: cover;
    text-align: justify;
    color: blue;
}
/*==================navbar==================*/
div.header{
    margin: 0px;
    width: 100%;
    height: 20%;
    color: blue;
    font-weight: bold;
}
nav.title1{
    padding: 1.1rem;
    font-size: 1.5rem;
}
nav.title2{
    margin-top: -1rem;
    padding-left: 1.2rem;
    font-size: 0.8rem;
}
/*===========使用者命名行程文字===========*/
nav.title3{
    margin-top: -1rem;
    padding-right: 1rem;;
    font-size: 0.9rem;
    text-align: right;
}
/*==================navbar==================*/


/*==================container==================*/
.container{
    width: 100%;
    /*background: rgba(255, 255, 255, 0.6);*/
    font-size: 0.8rem;
    display: flex;
    flex-direction: row;
}

div.content{
    margin: 0px;
    padding: 4%;
    flex:18;
    position: relative;
    bottom: 5%;
}

/*==================allballs==================*/
.allballs{
    flex: 1;
}
[class^="ball"]:nth-child(odd){
    margin-top: 5rem;
    margin-bottom: 5.1rem;
    margin-left: 3.5rem;
    background: rgb(136, 204, 136, 0.6);
    width:1.3rem;
    height: 1.3rem;
	border-radius: 50%;
}
[class^="ball"]:nth-child(even){
    margin-top: 5rem;
    margin-bottom: 5.1rem;
    margin-left: 3.5rem;
    background: rgb(136, 204, 136, 0.6);
    width:1.3rem;
    height: 1.3rem;
	border-radius: 50%;
}
.allballs p{
    position: relative;
    top: 0.05rem;
    left: 1.7rem;
}
.line{
    position: relative;
    left: -0.7rem;
    width: 1px;
    height: 45rem;
    background: rgb(136, 204, 136, 0.6);
}

/*==================Sights==================*/
div.Sights{
    margin-top: 2rem;
    margin-left: 3rem;
    margin-right: 1rem;
    padding-top: 0.3rem;
    padding-left: 0.5rem;
    padding-bottom: 0.3rem;
    background: rgba(255, 255, 255, 0.6);
    clear:both
}

div.time{
    margin-top: 1.5rem;
    margin-left: 3rem;
    margin-right: 3vw;
    padding-top: 0.3rem;
    padding-left: 0.5rem;
    padding-bottom: 0.3rem;
    padding-right: 0.1rem;
    height: 4rem;
    float: left;
}
div.time img{
    position: relative;
    top: 0.2rem; 
    width: 2rem;
    height: 2rem;
}
p.time1{
    margin-top: -2.5rem;
    margin-left: 3rem;
    text-align: left;
}
p.time2{
    margin-top: -0.5rem;
    margin-left: 3.4rem;
    text-align: left;
}

div.map{
    margin-top: 1.5rem;
    margin-left: 0.5rem;
    margin-bottom: 1rem;
    margin-right: -5rem;
    padding-top: 0.4rem;
    padding-left: 0.5rem;
    padding-bottom: 0.3rem;
    height: 4rem;
    float: left;
}
div.map img{
    position: relative;
    top: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
}
p.map{
    margin-top: -1rem;
    margin-left: 2.5rem;
    text-align: left;
}
a{
    color: black;
    text-decoration: none;
}
/*==================container==================*/


/*==================detail==================*/
div.detail{
    height: 145vw;
}
div.detail img{
    position: relative;
    margin-top: 1rem;
    padding-left: 1rem;
    width: 85vw;
    height: 55vw;
    max-width: 960px;
    max-height: 540px;
}   
div.detail_text{
    margin: auto;
    position: relative;
    top: 2rem;
    max-width: 1000px;
    max-height: 540px;
}
div.detail p.detail_name{
    text-align: center;
    font-size: 1rem;
} 
div.detail p.detail{
    position: relative;
    top: 3%;
    left: 5%;
} 
div.detail p.detail_time{
    text-indent: 5rem;
}
div.detail p.back{
    text-align: right;
    position: relative;
    top: 0.5rem;
    right: 1rem;
    margin-bottom: 1rem;
}
div.detail a:hover {
    text-decoration:none;
    color:gray;
}
div.line{
    position: relative;
    top: 100px;
    left: -11px;
}
/*==================detail==================*/
